@model DevCode.webapp.Models.Usuario
@using DevCode.webapp.Util

@{
    ViewBag.Title = "Alterar";
    ViewBag.Css = "User";
}
<main class="main-container">
    <div class="container">
        <div class="layout-box">
            <section class="section-user">
        
            </section>
            <section class="section-user-information">
                <div class="user-header">
                    <div class="banner-box">
                        <img src="@Model.CaminhoImagemBanner"
                             class="banner-img"
                             alt="banner-img" />
                    </div>
                    <img src="@Model.CaminhoImagemPerfil"
                         class="profile-img-user"
                         alt="profile-img-user" />
                    <div class="user-header-info">
                        <div class="admin-box">
                            <p class="user-name">@Model.Username</p>
                            @if (Configuracao.Usuario.Admin == true)
                            {
                                <p class="admin">administrador</p>
                            }
                        </div>
                        
                        <p class="user-job">@Model.Profissao</p>
                    </div>
                </div>
                @using (Html.BeginForm("Alterar", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="user-information-content">
                        <div class="info-header">
                            <h3 class="tertiary-heading">Informações Básicas</h3>
                            <div class="buttons-box">

                                <a href="/Perguntas/Index" class="btn-outline btn-user-page">Voltar</a>
                                <button class="btn-full btn-user-page">Salvar</button>

                            </div>
                        </div>
                        <div class="info-user-box info-box">
                            <div>
                                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "label-info" })
                            </div>
                            <div class="input-box">
                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "input-info" } })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "input-info" } })
                                @Html.ValidationMessageFor(model => model.Sobrenome, "", new { @class = "text-danger" })

                                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "display-none" } })
                                @Html.EditorFor(model => model.ConfirmarSenha, new { htmlAttributes = new { @class = "display-none" } })
                            </div>
                        </div>
                        <div class="info-user-box info-box">
                            <div>
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "label-info" })
                            </div>
                            <div class="input-box">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-info" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="info-user-box-change-picture info-box">
                            <div class="picture-text">
                                <p class="text-title-picture">Foto de perfil</p>
                                <p class="text-descriptive-picture">
                                    Essa é a foto de perfil que os outros vão vizualizar
                                </p>
                            </div>
                            <div class="change-picture-box">
                                <div class="img-box">
                                    <img src="@Model.CaminhoImagemPerfil"
                                         class="profile-change-img"
                                         alt="profile-img-user" />
                                </div>
                                <div class="change-box">
                                    <div class="send-box-profile">
                                        <input type="file" name="profile" class="input-profile-select input-select-img input-profile" />
                                        <i class="ph ph-cloud-arrow-up icon-change"></i>
                                    </div>
                                    <p class="send-text send-text-profile">
                                        <span class="highlight-text">Clique para mandar </span>
                                        SVG, PNG, JPG (max. 800x400px)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="info-user-box-change-picture info-box">
                            <div class="picture-text">
                                <p class="text-title-picture">Foto do banner</p>
                                <p class="text-descriptive-picture">
                                    Essa é a foto de perfil que os outros vão vizualizar
                                </p>
                            </div>
                            <div class="change-banner-box">
                                <div class="change-banner-box">
                                    <div class="change-img-container">

                                        <img src="@Model.CaminhoImagemBanner"
                                             class="banner-change-img"
                                             alt="profile-img-user" />
                                    </div>
                                    <div class="change-banner-box-send">
                                        <div class="send-box-banner">
                                            <input type="file" name="banner" class="input-banner-select input-select-img input-banner" />
                                            <i class="ph ph-cloud-arrow-up icon-change"></i>
                                        </div>

                                        <p class="send-text-banner send-text">
                                            <span class="highlight-text">Clique para mandar </span>
                                            SVG, PNG, JPG (max. 800x400px)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-user-box info-box">
                            <div>
                                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "label-info" })
                            </div>
                            <div class="input-box">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "input-info" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

                            </div>

                        </div>
                        <div class="info-user-box info-box">
                            <div>
                                @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "label-info" })
                            </div>
                            <div class="input-box">
                                @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "input-info" } })
                                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="info-user-box info-box">
                            <div>
                                @Html.LabelFor(model => model.Profissao, htmlAttributes: new { @class = "label-info" })
                            </div>
                            <div class="input-box">
                                @Html.EditorFor(model => model.Profissao, new { htmlAttributes = new { @class = "input-info" } })
                                @Html.ValidationMessageFor(model => model.Profissao, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }
               
                <form method="post" action="@Url.Action("Excluir", "Usuario", new { id = Model.IDUsuario })">
                    @Html.AntiForgeryToken()
                    <div class="excluir-box">
                        <button type="submit" class="btn btn-danger">Excluir Conta</button>
                        <span class="excluir-text">Ao clicar nesse botão você excluira sua conta e todas as suas publicações. Tem certeza disso?</span>
                    </div>
                    
                </form>
            </section>
            <section class="section-moderadores">
                <div class="moders-section">
                    <h3 class="tertiary-heading">Membros Online</h3>

                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                    class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">15k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                    class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">14k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                    class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">11k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                    class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">10k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                    class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">10k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                    class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">7k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                    class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">3k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                    class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">2k</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
        // Seleciona o campo de seleção de arquivo
        var fileInputBanner = $(".input-banner-select");

        // Adiciona um evento de change ao campo de seleção de arquivo
        fileInputBanner.change(function () {
            // Obtém a imagem selecionada pelo usuário
            var file = fileInputBanner[0].files[0];

            // Cria um objeto URL a partir do arquivo selecionado
            var imageUrl = URL.createObjectURL(file);

            // Atualiza o src da imagem de perfil com a URL da imagem selecionada
            $('.banner-change-img').attr('src', imageUrl);
        });

        var fileInputProfile = $(".input-profile-select");

        fileInputProfile.change(function () {
            var file = fileInputProfile[0].files[0];

            var imageUrl = URL.createObjectURL(file);

            $('.profile-change-img').attr('src', imageUrl);
        });

        
    });
</script>

