@model DevCode.webapp.Models.ListarPerguntaRespostasVM

@{
    ViewBag.Title = "Index";
    ViewBag.Css = "Answer";
}

<main class="main-container">
    <div class="container">
        <div class="layout-box">
            <section>
                @Html.Partial("_ViewUsuario")
                <a href="/Perguntas/Index" class="btn-outline btn-user-page mg-tp-md">Voltar</a>
            </section>
            <section class="section-answer">
               
                <div class="answer-section">
                    <div class="question-box-answer">
                        <div class="answer-user-box">
                            <div class="answer-box-info">
                                <img src="@ViewBag.CaminhoImagemPerfil"
                                     class="answer-user-photo" />
                                <p class="username-text">@ViewBag.Username</p>
                            </div>
                            <div>
                                <span class="tag-news @Model.Pergunta.TagPrincipal">@Model.Pergunta.TagPrincipal</span>
                                @if (@Model.Pergunta.TagSecundaria != null)
                                {
                                    <span class="tag-news @Model.Pergunta.TagSecundaria">@Model.Pergunta.TagSecundaria</span>
                                }
                                <span class="question-time-released mg-lf-sm">@Model.Pergunta.DataEnvio.ToShortDateString()</span>
                            </div>
                        </div>
                        <div class="question-title">
                            <h2 class="tertiary-heading">
                                @Model.Pergunta.Titulo
                            </h2>
                        </div>
                        <div class=".question-text-answer">
                            <p class="question-description">
                                @Model.Pergunta.Detalhes
                            </p>

                            <div class="expected-box">
                                <p>O que eu espero:</p>
                                <p class="expected-text mg-tp-sm">@Model.Pergunta.Esperado</p>
                            </div>

                        </div>
                    </div>
                    <h2 class="secondary-heading heading-answers">
                        Respostas de outros usuarios
                    </h2>
                    <div class="answers-container">
                        @foreach (var respostas in Model.Respostas)
                        {

                            <div class="anwser-box">
                                <div class="answer-user-box">
                                    <div class="answer-box-info">
                                        <img src="@respostas.Usuario.CaminhoImagemPerfil"
                                             class="answer-user-photo" />
                                        <p class="username-text">@respostas.Usuario.Username<p>
                                    </div>
                                    <span class="answer-time-released">@respostas.DataResposta</span>
                                </div>
                                <div class="answer-content">
                                    <p class="common-text answer-text">
                                        @respostas.ExplicacaoResposta
                                        <a href="#" class="keep-learning">Continuar lendo</a>
                                    </p>
                                </div>
                                <div class="answer-card-footer">
                                    <div class="answer-info-box">
                                        <div class="question-info-content">
                                            <i class="ph ph-thumbs-up question-icon like-icon"></i>
                                            <button class="likeButton" data-post-id="@respostas.IDRespostas"></button>
                                            <span class="question-info question-comments question-like likeCount"> @respostas.Likes</span>
                                        </div>
                                    </div>
                                    <div class="answer-info-box">
                                        <div class="answer-info-content">
                                            <i class="ph-chat-dots answer-icon"></i>
                                            <span class="answer-info answer-comments"> 2.3k</span>
                                        </div>
                                        <div class="answer-info-content">
                                            <i class="ph-eye answer-icon"></i>
                                            <span class="answer-info answer-views">2.3k</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </section>
            <section class="section-moderadores">
                <div class="moders-section">
                    <h3 class="tertiary-heading">Membros Online</h3>

                    @*<div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">15k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">14k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">11k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">10k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">10k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">7k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">3k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">2k</p>
                    </div>*@
                </div>

                <a href="/Respostas/Novo/@Model.Pergunta.IDPergunta" class="btn-full btn-see-answer">Responder</a>
            </section>
        </div>
    </div>
</main>


@section scripts {
    <script>
        $(document).ready(function () {
            $(document).on("click", ".likeButton", function () {
                var postId = $(this).data("post-id");
                var likeCountElement = $(this).siblings(".likeCount"); // Elemento HTML que exibe a contagem de likes
                var likeIconElement = $(this).siblings(".like-icon"); // Elemento HTML do ícone de like

                if (!$(this).hasClass("liked")) {
                    likeIconElement.addClass("liked-icon")
                    $(this).addClass("liked");
                } else {
                    likeIconElement.removeClass("liked-icon")
                    $(this).removeClass("liked");
                }

                $.ajax({
                    type: "POST",
                    url: "/Respostas/Like",
                    data: { id: postId },
                    success: function (data) {
                        likeCountElement.text(data.likes);
                    }
                });
            });
        });


    </script>
}