@model DevCode.webapp.Models.ListarPerguntaRespostasVM

@{
    ViewBag.Title = "Index";
}

<main class="main-container">
    <div class="container">
        <div class="layout-box">
            @Html.Partial("_ViewUsuario")
            <section class="section-answer">
                <div class="tags-card-news-box">
                    <span class="tag-news js">JavaScript</span>
                    <span class="tag-news c">C#</span>
                    <span class="tag-news php">PHP</span>
                    <span class="tag-news py">Python</span>
                </div>
                <div class="answer-section">
                    <div class="question-box-answer">
                        <div class="answer-user-box">
                            <div class="answer-box-info">
                                <img src="~/Content/imgs/form/background-img.jpg"
                                     class="answer-user-photo" />
                                <p class="username-text">@Model.Pergunta.IDUsuarioPergunta</p>
                            </div>
                        </div>
                        <div class="question-title">
                            <h2 class="tertiary-heading">
                                @Model.Pergunta.Titulo
                            </h2>
                        </div>
                        <div class="question-text">
                            <p class="question-description">
                                @Model.Pergunta.Detalhes
                            </p>

                            <p class="expected-text">@Model.Pergunta.Esperado</p>
                        </div>
                    </div>
                    <h2 class="secondary-heading heading-answers">
                        Respostas de outros usuarios
                    </h2>
                    <div class="answers-container">
                        @foreach (var respostas in Model.Respostas)
                        {
                            <div class="anwser-box">
                                <div class="answer-user-box">
                                    <div class="answer-box-info">
                                        <img src="~/Content/imgs/form/background-img.jpg"
                                             class="answer-user-photo" />
                                        <p class="username-text">Username</p>
                                    </div>
                                    <span class="answer-time-released">@respostas.DataResposta</span>
                                </div>
                                <div class="answer-content">
                                    <p class="common-text answer-text">
                                        @respostas.ExplicacaoResposta
                                        <a href="#" class="keep-learning">Continuar lendo</a>
                                    </p>
                                </div>
                                <div class="answer-card-footer">
                                    <div class="answer-info-box">
                                        <div class="answer-info-content">
                                            <i class="ph ph-thumbs-up answer-icon"></i>
                                            <span class="answer-info answer-comments"> 2.3k</span>
                                        </div>
                                        <div class="answer-info-content">
                                            <i class="ph ph-thumbs-down answer-icon"></i>
                                            <span class="answer-info answerviews">2.3k</span>
                                        </div>
                                    </div>
                                    <div class="answer-info-box">
                                        <div class="answer-info-content">
                                            <i class="ph-chat-dots answer-icon"></i>
                                            <span class="answer-info answer-comments"> 2.3k</span>
                                        </div>
                                        <div class="answer-info-content">
                                            <i class="ph-eye answer-icon"></i>
                                            <span class="answer-info answer-views">2.3k</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
            <section class="section-moderadores">
                <div class="moders-section">
                    <h3 class="tertiary-heading">Membros Online</h3>

                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">15k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">14k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">11k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">10k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">10k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">7k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">3k</p>
                    </div>
                    <div class="member-item">
                        <div>
                            <img src="/Login & Sign-in Page/imgs/form/background-img.jpg"
                                 class="member-img" />
                            <p class="member-user-name">UsuarioTeste</p>
                        </div>

                        <p class="information-member">2k</p>
                    </div>
                </div>

                <a href="/Respostas/Novo/@Model.Pergunta.IDPergunta" class="btn-full btn-see-answer">Responder</a>
            </section>
        </div>
    </div>
</main>