@model IEnumerable<DevCode.webapp.Models.Perguntas>
@using DevCode.webapp.Util

@{
    ViewBag.Title = "Index";
    ViewBag.Css = "Question";
}


<main class="main-container">
    <div class="container">
        <div class="layout-box">
            @Html.Partial("_ViewUsuario")

            <section class="section-question">
                <div class="useful-buttons">
                    <a href="/Perguntas/Novo" class="btn-full btn-question"><i class="ph ph-question button-icon"></i>Nova Pergunta</a>
                    @using (Html.BeginForm("Index", "Perguntas", FormMethod.Get))
                    {
                        <div class="search-box">
                            @Html.TextBox("search", null, new { placeholder = "Digite sua busca..." })
                            <button class="btn-full btn-question"><i class="ph ph-magnifying-glass button-icon"></i></button>
                        </div>

                    }

                </div>
                @foreach (var item in Model)
                {

                    <div class="question-card-container">
                        <div class="question-user-box">
                            <div class="user-box-info">
                                <img src="@item.Usuario.CaminhoImagemPerfil"
                                     class="question-user-photo" />
                                <p class="username-text"> @item.Usuario.Username</p>
                            </div>
                            <div>
                                <span class="tag-news @item.TagPrincipal">@item.TagPrincipal</span>
                                @if (item.TagSecundaria != null)
                                {
                                    <span class="tag-news @item.TagSecundaria">@item.TagSecundaria</span>
                                }
                                <span class="question-time-released mg-lf-sm">@item.DataEnvio.ToShortDateString()</span>
                            </div>
                            @if (item.IDUsuarioPergunta == Configuracao.Usuario.IDUsuario
                                || Configuracao.Usuario.Admin == true)
                            {
                                <div class="delete-box">
                                    <form method="post" action="@Url.Action("Excluir", "Perguntas", new { id = item.IDPergunta })">
                                        @Html.AntiForgeryToken()
                                        <button class="btn-excluir"><i class="ph ph-trash"></i></button>
                                    </form>
                                </div>
                            }
                        </div>
                        <div class="question-content">
                            <a href="/Respostas/Index/@item.IDPergunta">
                                <h3 class="tertiary-heading">
                                    @item.TituloAbreviado
                                </h3>
                            </a>
                            <p class="common-text question-text">
                                @item.DetalhesAbreviada


                            </p>
                        </div>
                        <div class="question-card-footer">
                            <div class="question-info-box">
                                <div class="question-info-content">
                                    <i class="ph ph-thumbs-up question-icon like-icon"></i>
                                    <button class="likeButton" data-post-id="@item.IDPergunta"></button>

                                    <span class="question-info question-comments question-like likeCount"> @item.Likes</span>
                                </div>

                            </div>
                            <div class="question-info-box">
                                <div class="question-info-content">
                                    <i class="ph-chat-dots question-icon"></i>
                                    <span class="question-info question-comments">@item.Comments</span>
                                </div>
                                <div class="question-info-content">
                                    <i class="ph-eye question-icon"></i>
                                    <span class="question-info question-views">@item.Views</span>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </section>

            @Html.Partial("_ViewUsuariosPontos")
        </div>
    </div>
</main>

@section scripts {
    <script>
        $(document).ready(function () {
            $(document).on("click", ".likeButton", function () {
                var postId = $(this).data("post-id");
                var likeCountElement = $(this).siblings(".likeCount"); // Elemento HTML que exibe a contagem de likes
                var likeIconElement = $(this).siblings(".like-icon"); // Elemento HTML do ícone de like

                if (!$(this).hasClass("liked")) {
                    likeIconElement.addClass("liked-icon")
                    $(this).addClass("liked");
                } else {
                    likeIconElement.removeClass("liked-icon")
                    $(this).removeClass("liked");
                }

                $.ajax({
                    type: "POST",
                    url: "/Perguntas/Like",
                    data: { id: postId },
                    success: function (data) {
                        likeCountElement.text(data.likes);
                    }
                });
            });
        });


    </script>
}