<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Code - Duvidas respondidas por vocês</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://unpkg.com/phosphor-icons"></script>
</head>
<body>
    <header class="header-container">
        <div class="container">
            <div class="header-box">
                <div class="logo">DevCode</div>
                <nav>
                    <ul class="nav-list">
                        <li><a href="#" class="nav-item">Problemas</a></li>
                        <li><a href="#" class="nav-item">Tags</a></li>
                        <li><a href="#" class="nav-item">Social</a></li>
                        <li><a href="#" class="nav-item">Sobre</a></li>
                        <li><a href="#" class="nav-item">Contatos</a></li>     
                        <li><a href="/Login/Sair" class="btn-full btn-logout btn-login">Sair <i class="ph ph-sign-out"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    @RenderBody()

    
       
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
