@using DevCode.webapp.Util;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Code - Duvidas respondidas por vocês</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/" + ViewBag.Css + "/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://unpkg.com/phosphor-icons"></script>
</head>
<body>
    <header class="header-container">
        <div class="container">
            <div class="header-box">
                <a href="/Login/Entrar">
                    <div class="logo">DevCode</div>
                </a>
                <nav>
                    <ul class="nav-list">
                        <li><a href="/Login/Entrar" class="nav-item">Problemas</a></li>
                        <li><a href="/Login/Entrar" class="nav-item">Nova Pergunta</a></li>
                        <li><a href="/Login/Entrar" class="nav-item">Ver Noticas</a></li>
                        <li><a href="/Login/Entrar" class="nav-item">Ver Perfil</a></li>
                        <li><a href="/Login/Entrar" class="nav-item">Social</a></li>
                        <li><button class="btn-full btn-login">Entrar &rarr;</button></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="footer-container">
                <div class="about-dev-code">
                    <h2 class="secondary-heading">DevCode</h2>
                    <p>
                        O objetivo do projeto é fornecer um fórum de programação para auxiliar os estudantes e profissionais da área, que em algum momento se encontram com alguma duvida, podendo então compartilha-la com os demais membros do site.
                        O fórum por ser aberto a todos facilita a obtenção de respostas rápidas, dando a possibilidade de os usuários discutirem entre si para que assim consigam chegar a uma conclusão. Foi visto que há uma grande carência de tais sites nacionais, já que sua grande maioria são estrangeiros, com isso o foco será no publico brasileiro com a pretensão de deixa-los mais confortáveis e que possam se sentir acolhidos pela comunidade.
                    </p>
                </div>
                <div class="about-us-box">
                    <div class="about-me">
                        <img class="picture-me" src="~/Content/imgs/Guilherme.jpg" />
                        <div class="element-hidden-footer info-us">
                            <div class="mg-bt-sm">
                                <p>Guilherme Marques</p>
                                <p>Desenvolvedor full-stak</p>
                            </div>

                            <div class="links-box">
                                <a href="https://github.com/GuilhermeMarques457"><i class="ph-fill ph-github-logo icon-link"></i></a>
                                <a href="https://www.linkedin.com/in/guilherme-marques-88325b24a/"><i class="ph-fill ph-linkedin-logo icon-link"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="about-me">
                        <img class="picture-me" src="~/Content/imgs/Jackson.jpg" />
                        <div class="element-hidden-footer info-us">
                            <div class="mg-bt-sm">
                                <p>Jackson Barbosa</p>
                                <p>Desenvolvedor back-end</p>
                            </div>

                            <div class="links-box">
                                <p class="icon-link">jacksonalveslb@gmail.com</p>

                            </div>
                        </div>
                    </div>
                    <div class="about-me">
                        <img class="picture-me" src="~/Content/imgs/Pedro.png" />
                        <div class="element-hidden-footer info-us">
                            <div class="mg-bt-sm">
                                <p>Pedro H. R. Santos</p>
                                <p>Documentação do projeto</p>
                            </div>

                            <div class="links-box">
                                <p class="icon-link">
                                    Pedrorodrigues159.adc@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="about-me">
                        <img class="picture-me" src="~/Content/imgs/Vinicius.jpeg" />
                        <div class="element-hidden-footer info-us">
                            <div class="mg-bt-sm">
                                <p>Vinicius dos Santos Bassio</p>
                                <p>Desenvolvedor ETL</p>
                            </div>

                            <div class="links-box">

                            </div>
                        </div>
                    </div>
                    <div class="about-me">
                        <img class="picture-me" src="~/Content/imgs/Geize.jpg" />
                        <div class="element-hidden-footer info-us">
                            <div class="mg-bt-sm">
                                <p>Geisiane Dias Francisco</p>
                                <p>Documentação do projeto</p>
                            </div>

                            <div class="links-box">
                                <p class="icon-link">
                                    gei.zdias2021@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="about-me">
                        <img class="picture-me" src="~/Content/imgs/Lucas.png" />
                        <div class="element-hidden-footer info-us">
                            <div class="mg-bt-sm">
                                <p>Lucas Delfim Rodrigues Gomes</p>
                                <p>Designer</p>
                            </div>

                            <div class="links-box">
                                <p class="icon-link">
                                    lukasdelfim@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="about-me">
                        <img class="picture-me" src="~/Content/imgs/Gabriel.png" />
                        <div class="element-hidden-footer info-us">
                            <div class="mg-bt-sm">
                                <p>Gabriel A. B. Almeida</p>
                                <p>Q.A</p>
                            </div>

                            <div class="links-box">
                                <p class="icon-link">
                                    gabrielbarretoalmeida343@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
