@using DevCode.webapp.Util;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Code - Duvidas respondidas por vocês</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/" + ViewBag.Css + "/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://unpkg.com/phosphor-icons"></script>
</head>
<body>
    <header class="header-container">
        <div class="container">
            <div class="header-box">
                <a href="/home/index">
                    <div class="logo">DevCode</div>
                </a>
                <nav>
                    <ul class="nav-list">
                        <li><a href="/Login/Entrar" class="nav-item">Problemas</a></li>
                        <li><a href="/Login/Entrar" class="nav-item">Nova Pergunta</a></li>
                        <li><a href="/Login/Entrar" class="nav-item">Ver Noticas</a></li>
                        <li><a href="/Login/Entrar" class="nav-item">Ver Perfil</a></li>
                        <li><a href="/Login/Entrar" class="nav-item">Social</a></li>
                        <li><button class="btn-full btn-login">Entrar &rarr;</button></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="footer-container">
                <div class="about-dev-code">
                    <h2 class="secondary-heading">DevCode</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="about-us-box">
                    <div class="about-me">
                        <img class="picture-me" src="~/Content/imgs/form/background-img.jpg" />
                        <div class="element-hidden-footer info-us">
                            <div class="mg-bt-sm">
                                <p>Guilherme Marques</p>
                                <p>Desenvolvedor full-stak</p>
                            </div>

                            <div class="links-box">
                                <a href="https://github.com/GuilhermeMarques457"><i class="ph-fill ph-github-logo icon-link"></i></a>
                                <a href="https://www.linkedin.com/in/guilherme-marques-88325b24a/"><i class="ph-fill ph-linkedin-logo icon-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="about-me">
                        <img class="picture-me" src="~/Content/imgs/form/background-img.jpg" />
                    </div>
                    <div class="about-me">
                        <img class="picture-me" src="~/Content/imgs/form/background-img.jpg" />
                    </div>
                    <div class="about-me">
                        <img class="picture-me" src="~/Content/imgs/form/background-img.jpg" />
                    </div>
                    <div class="about-me">
                        <img class="picture-me" src="~/Content/imgs/form/background-img.jpg" />
                    </div>
                    <div class="about-me">
                        <img class="picture-me" src="~/Content/imgs/form/background-img.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </footer>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
