@using DevCode.webapp.Util;
@using DevCode.webapp.Models;

@{
    ViewBag.Title = "MostrarUsuario";
}

<section class="section-user">
    <div class="image-box">
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <img src="@Configuracao.Usuario.CaminhoImagemBanner"
                 alt="Imagem de background do usuario"
                 class="user-backgound-img" />
        }

        <img src="~/Content/imgs/ProfileImgs/foto-padrao-banner.png"
             alt="Imagem de background do usuario"
             class="user-backgound-img" />
    </div>
    <div class="user-info-box">
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <p class="username-text">@Configuracao.Usuario.Nome @Configuracao.Usuario.Sobrenome</p>
            <div class="flex box-username-medal">
                <p class="work-text">@Configuracao.Usuario.Username</p>
                @if (UtilMethods.PegarPontos(Configuracao.Usuario.IDUsuario) > 1000)
                {
                    <img class="img-medalha" src="~/Content/imgs/bronze.png" />
                }
                @if (UtilMethods.PegarPontos(Configuracao.Usuario.IDUsuario) > 2500)
                {
                    <img class="img-medalha" src="~/Content/imgs/prata.png" />
                }
                @if (UtilMethods.PegarPontos(Configuracao.Usuario.IDUsuario) > 10000)
                {
                    <img class="img-medalha" src="~/Content/imgs/ouro.png" />
                }
            </div>
            <p class="pontos-text">Total de pontos: @Configuracao.Usuario.Pontos</p>
            <a class="show-details" href="/Usuario/Alterar/@Configuracao.Usuario.IDUsuario">Exibir mais detalhes</a>
        }

    </div>
        <hr />
        <div class="friends-box">
            <p class="friends-title">Lista de amigos</p>
            <div class="all-friends">
                @{
                    List<Amizade> amizades = UtilMethods.PegarListaDeAmigos(Configuracao.Usuario.IDUsuario);
                    foreach (var item in amizades)
                    {
                        if (item.Pendente == false && item.Amigos == true)
                        {
                            if (item.UsuarioResposta == null)
                            {
                                <a href="/Usuario/MostrarAmigo/@item.UsuarioPedido.IDUsuario" class="links">
                                    <div class="friend-box">
                                        <img src="@item.UsuarioPedido.CaminhoImagemPerfil"
                                             alt="Imagem de perfil do amigo"
                                             class="profile-img" />
                                        <div>
                                            <p class="friend-name">@item.UsuarioPedido.Nome</p>
                                        </div>
                                    </div>
                                </a>
                                
                            }
                            else if (item.UsuarioPedido == null)
                            {
                                <a href="/Usuario/MostrarAmigo/@item.UsuarioResposta.IDUsuario" class="links">
                                    <div class="friend-box">
                                        <img src="@item.UsuarioResposta.CaminhoImagemPerfil"
                                             alt="Imagem de perfil do amigo"
                                             class="profile-img" />
                                        <div>
                                            <p class="friend-name">@item.UsuarioResposta.Nome</p>
                                        </div>
                                    </div>
                                </a>
                            }
                        }

                    }
                }
            </div>
            <div class="profile-picture">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <img src="@Configuracao.Usuario.CaminhoImagemPerfil"
                         alt="Foto de Perfil"
                         class="profile-user-picture" />
                }

            </div>
        </div>
    </section>